.grid-container {
  display: grid;
  border: 2px solid #333;
  margin: 20px;
   grid-template-columns: 100px 100px 100px; /* 3 fixed columns */
   grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px; /* space between items */
    justify-items: center;
 align-items: end;
   grid-template-columns: 100px 100px;
  justify-content: center;
   align-content: space-between;
    place-items: center;
}

.item {
  background: lightblue;
  border: 1px solid #333;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}


.item:nth-child(1) {
  grid-column: 1 / 3; /* spans across column 1 and 2 */
}

.item:nth-child(2) {
  grid-row: 1 / 3; /* spans down across 2 rows */
}

